<!-- Title -->
<ng-container *ngIf="stores && stores.length">
    <div class="flex flex-row items-center justify-between w-full py-2 sm:mt-4">
        <h2 class="font-semibold text-xl">{{title}}</h2>
        <span *ngIf="showViewAll" (click)="viewAll()" class="font-semibold text-primary cursor-pointer hover:text-primary-600">View All</span>
    </div>
</ng-container>

<!-- Featured Store -->
<!-- <ng-container *ngIf="stores && stores.length === 1">
    <fuse-card
        (click)="chooseStore(stores[0].storeDetails.domain)" 
        class="flex flex-row rounded-lg border border-gray-300 cursor-pointer filter-article w-full mt-1 sm:mt-2">
        <img
            class="object-fit h-26 w-26 p-2"
            [src]="displayStoreLogo(stores[0].storeDetails.storeAssets)">
        <div class="flex flex-col m-2 font-semibold">
            <span class="group-hover:text-primary text-lg line-clamp-1">{{stores[0].storeDetails.name}}</span>
            <span class="group-hover:text-primary font-medium">{{stores[0].storeDetails.state}}</span>
            <p class="flex flex-row text-black font-normal text-sm line-clamp-3 mt-1" [innerHTML]="stores[0].storeDetails.storeDescription"></p>
        </div>
    </fuse-card>
</ng-container> -->

<!-- Featured Stores -->
<ng-container *ngIf="stores && stores.length > 0">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-2 sm:gap-3 w-full mt-1 sm:mt-2">
        <ng-container *ngFor="let store of stores; let i = index">
            <fuse-card
                (click)="chooseStore(store.storeDetails.domain)" 
                class="relative flex flex-col rounded-lg border border-gray-300 h-60 md:h-80 cursor-pointer filter-article">
                <!-- If store Close -->
                <!-- <div *ngIf="checkStoreTiming(store.storeDetails)" class="absolute bg-black bg-opacity-60 z-10 w-full h-full flex flex-col items-center justify-center rounded-lg lg:rounded">
                    <span *ngIf="checkStoreTiming(store.storeDetails)isStoreOpenToday" class="text-white text-2xl font-medium tracking-tight">Store is Closed</span>
                    <span *ngIf="checkStoreTiming(store.storeDetails)isStoreOpenToday" class="w-3/4 text-center text-white text-md lg:text-lg font-medium tracking-tight">{{checkStoreTiming(store.storeDetails).notificationMessage}}</span>
                </div> -->
                <!-- Store timing bg-gradient-to-b from-black -->
                <div *ngIf="checkStoreTiming(store.storeDetails)" 
                    class="absolute bg-black bg-opacity-60 z-10 w-full h-full flex flex-col items-center justify-center rounded-lg lg:rounded gap-2">
                    <div class="flex flex-col rounded-lg bg-primary text-white items-center p-3 leading-none uppercase">
                        <span class="text-white text-base lg:text-xl font-medium">{{checkStoreTiming(store.storeDetails).messageTitle}}</span>
                        <span class="text-white text-3xl lg:text-4xl font-semibold">CLOSED</span>
                    </div>
                    <span class="w-3/4 text-center text-white text-md lg:text-lg font-medium tracking-tight">{{checkStoreTiming(store.storeDetails).notificationMessage}}</span>
                </div>
                <img
                    class="object-cover min-h-30 max-h-30 md:min-h-48 md:max-h-48 rounded-t-lg shadow"
                    [src]="displayStoreLogo(store.storeDetails.storeAssets)">
                <div class="flex flex-col m-2 font-semibold">
                    <span class="group-hover:text-primary text-base md:text-lg line-clamp-1">{{store.storeDetails.name}}</span>
                    <span class="group-hover:text-primary text-gray-600 font-normal text-sm md:text-base">{{store.storeDetails.regionCityDetails.name}}</span>
                    <span class="flex flex-row text-gray-400 font-normal text-sm line-clamp-3 mt-1" [innerHTML]="store.storeDetails.storeDescription"></span>
                </div>
            </fuse-card>
        </ng-container>
    </div>
</ng-container>
