<!-- Title -->
<ng-container *ngIf="stores && stores.length">
    <div class="flex flex-row items-center justify-between w-full mt-2 sm:mt-4">
        <span class="font-semibold text-xl">{{title}}</span>
        <span *ngIf="showViewAll" (click)="viewAll()" class="font-semibold text-primary cursor-pointer hover:text-primary-600">View All</span>
    </div>
</ng-container>

<!-- Featured Store -->
<!-- <ng-container *ngIf="stores && stores.length === 1">
    <fuse-card
        (click)="chooseStore(stores[0].storeDetails.domain)" 
        class="flex flex-row rounded-lg border border-gray-300 cursor-pointer filter-article w-full mt-1 sm:mt-2">
        <img
            class="object-fit h-26 w-26 p-2"
            [src]="displayStoreLogo(stores[0].storeDetails.storeAssets)">
        <div class="flex flex-col m-2 font-semibold">
            <span class="group-hover:text-primary text-lg line-clamp-1">{{stores[0].storeDetails.name}}</span>
            <span class="group-hover:text-primary font-medium">{{stores[0].storeDetails.state}}</span>
            <p class="flex flex-row text-black font-normal text-sm line-clamp-3 mt-1" [innerHTML]="stores[0].storeDetails.storeDescription"></p>
        </div>
    </fuse-card>
</ng-container> -->

<!-- Featured Stores -->
<ng-container *ngIf="stores && stores.length > 0">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-2 sm:gap-3 w-full mt-1 sm:mt-2">
        <ng-container *ngFor="let store of stores">
            <fuse-card
                (click)="chooseStore(store.storeDetails.domain)" 
                class="flex flex-col rounded-lg border border-gray-300 h-60 cursor-pointer filter-article">
                <img
                    class="object-cover min-h-30 max-h-30 rounded-t-lg shadow"
                    [src]="displayStoreLogo(store.storeDetails.storeAssets)">
                <div class="flex flex-col m-2 font-semibold">
                    <span class="group-hover:text-primary text-base md:text-lg line-clamp-1">{{store.storeDetails.name}}</span>
                    <span class="group-hover:text-primary text-gray-600 font-normal text-sm md:text-base">{{store.storeDetails.state}}</span>
                    <p class="flex flex-row text-gray-400 font-normal text-sm line-clamp-3 mt-1" [innerHTML]="store.storeDetails.storeDescription"></p>
                </div>
            </fuse-card>
        </ng-container>
    </div>
</ng-container>
