<div class="flex flex-row">
    <div class="flex flex-col justify-center items-center mr-2 cursor-pointer w-12">
        <mat-icon class="icon-size-7" [svgIcon]="'mat_outline:fastfood'"></mat-icon>
        <span class="text-xs text-center">Dine In</span>
    </div>
    <div class="flex flex-col justify-center items-center mr-2 cursor-pointer">
        <mat-icon class="icon-size-7" [svgIcon]="'mat_outline:local_shipping'"></mat-icon>
        <span class="text-xs text-center">Shipping</span>
    </div>
    <div class="flex flex-col justify-center items-center w-18 mr-2 cursor-pointer">
        <mat-icon class="text-primary icon-size-7" [svgIcon]="'mat_outline:delivery_dining'"></mat-icon>
        <span class="text-xs text-primary font-semibold text-center">Food Delivery</span>
    </div>
</div>