<!-- Title -->
<ng-container *ngIf="products && products.length">
    <div class="flex flex-row items-center justify-between w-full">
        <h2 class="font-semibold text-xl">{{title}}</h2>
        <span *ngIf="showViewAll" (click)="viewAll()" class="font-semibold text-primary cursor-pointer hover:text-primary-600">View All</span>
    </div>
</ng-container>

<!-- Featured Products -->
<ng-container *ngIf="products && products.length > 0">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-2 sm:gap-3 w-full mt-2 sm:mt-4">
        <ng-container *ngFor="let product of products">
            <!-- need to do this because featuredProducts and productDetails have different response -->
            <ng-container *ngTemplateOutlet="productResult; context: {$implicit: product.productDetails ? product.productDetails : product}">
            </ng-container>
        </ng-container>
    </div>
</ng-container>

<!-- Contact result template -->
<ng-template
    #productResult
    let-product>
    <fuse-card
        (click)="redirectToProduct(product.storeDetails.id, product.storeDetails.domain ,product.seoName)"
        class="flex flex-col rounded-lg border border-gray-300 h-[210px] md:h-[220px] cursor-pointer filter-article">
        <div class="relative w-full">
            <ng-container *ngIf="!product.thumbnailUrl" >
                <div class="absolute flex flex-col w-full justify-center items-center left-0 right-0 top-0 bottom-0 bg-black bg-opacity-40 rounded-t-lg">
                    <span class="text-white font-semibold text-lg opacity-100">{{product.storeCategory ? product.storeCategory.parentCategory.parentName : "Product category not available"}}</span>
                    <span class="text-white text-center opacity-100">Product image not available</span>
                </div>
            </ng-container>
            <img
                class="object-cover w-full h-30 rounded-t-lg shadow"
                [src]="product.thumbnailUrl ? product.thumbnailUrl : (product ? product.storeCategory.parentCategory.parentThumbnailUrl : displayStoreLogo(product.storeDetails.storeAssets))">
        </div>
        <div class="flex flex-col justify-between h-full p-2">
            <div class="flex flex-col leading-tight">
                <span class="text-base md:text-lg font-semibold line-clamp-1">{{product.name}}</span>
                <div class="flex flex-row items-center">
                    <mat-icon
                        class="icon-size-4 text-primary mr-1"
                        [svgIcon]="'mat_outline:storefront'"></mat-icon>
                    <span class="text-sm md:text-base line-clamp-1">{{product.storeDetails.name}}</span>
                </div>
                <ng-container *ngIf="product.storeDetails.distanceInMeter/1000 > 0">
                    <div class="flex flex-row items-center">
                        <mat-icon
                            class="icon-size-4 text-gray-400 mr-1"
                            [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                        <span class="text-sm text-gray-400">
                            {{ product.storeDetails.distanceInMeter/1000 | number : '1.1-2' }} KM
                        </span>
                    </div>
                </ng-container>
            </div>
            <div class="flex flex-row items-end justify-between">
                <ng-container *ngIf="product.productInventories[0] && product.productInventories[0].itemDiscount">
                    <span class="line-through text-sm font-semibold">{{product.productInventories[0].itemDiscount.discountedPrice | currency: platform.currency}}</span>
                </ng-container>
                <ng-container *ngIf="product.productInventories[0]">
                    <span class="text-lg font-semibold">{{product.productInventories[0].price | currency: platform.currency}}</span>
                </ng-container>
            </div>
        </div>
    </fuse-card>
</ng-template>
