<!-- Title -->
<ng-container *ngIf="products && products.length">
    <div class="flex flex-row items-center justify-between w-full mt-4">
        <span class="font-semibold text-xl">{{title}}</span>
        <span *ngIf="showViewAll" [routerLink]="'/search'" class="font-semibold text-primary cursor-pointer hover:text-primary-600">View All</span>
    </div>
</ng-container>

<!-- Featured Products -->
<ng-container *ngIf="products && products.length > 0">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-2 sm:gap-3 w-full mt-2 sm:mt-4">
        <ng-container *ngFor="let product of products">
            <fuse-card
                (click)="redirectToProduct(product.productDetails.seoUrl)"
                class="flex flex-col rounded-lg border border-gray-300 h-60 cursor-pointer filter-article">
                <img
                    class="object-cover min-h-30 rounded-t-lg shadow"
                    [src]="product.productDetails.thumbnailUrl ? product.productDetails.thumbnailUrl : platform.logo">
                <div class="flex flex-col justify-between h-full py-2 mx-2 mt-1">
                    <div class="flex flex-col">
                        <span class="m-0.5 text-lg font-semibold leading-3 line-clamp-1">{{product.productDetails.name}}</span>
                        <span class="m-0.5 text-gray-400 line-clamp-1">{{product.productDetails.storeDetails.name}}</span>
                    </div>
                    <div class="flex flex-row items-end justify-between">
                        <span class="line-through text-sm font-semibold">RM 19.44</span>
                        <span class="text-lg font-semibold">{{product.productDetails.productInventories[0].price | currency: platform.currency}}</span>
                    </div>
                </div>
            </fuse-card>
        </ng-container>
    </div>
</ng-container>
