<div class="w-full max-w-3xl">

    <!-- Form -->
    <form [formGroup]="accountForm">
        
        <!-- Section -->
        <div class="flex flex-row w-full">
            <div class="flex flex-col w-2/3">
                <div class="text-xl">Address</div>
                <div class="text-secondary">Set the delivery address</div>
            </div>
            <div class="flex items-center justify-end w-1/3">

                <button
                    mat-flat-button
                    type="button"
                    (click)="addAddress()"
                    [color]="'primary'">
                    <span class="hidden sm:block">
                        Add Address
                    </span>
                    <span class="block sm:hidden">
                        Add 
                    </span>
                </button>
            </div>
        </div>

        <ng-container *ngIf="(customersAddresses$| async) as customersAddresses" >
            <div class="flex flex-col mt-2">
                <ng-container *ngFor="let customersAddress of customersAddresses;let i = index;">
                    <div class="flex flex-row justify-between border rounded-sm bg-card my-1 p-2">
                        <!-- Details -->
                        <div class="flex flex-col w-full text-secondary">
                            
                            <div class="flex flex-row w-full">
                                <div class="w-2/6">
                                    Full Name
                                </div>
                                <div class="w-4/6 md:w-3/6">
                                    {{customersAddress.name}}
                                </div>
                            </div>
                            
                            <div class="flex flex-row w-full">
                                <div class="w-2/6">
                                    Phone No
                                </div>
                                <div class="w-4/6 md:w-3/6">
                                    {{customersAddress.phoneNumber}}
                                </div>
                            </div>
    
                            <div class="flex flex-row w-full">
                                <div class="w-2/6">
                                    Address
                                </div>
                                <div class="w-4/6 md:w-3/6">
                                    {{customersAddress.address}}
                                </div>
                            </div>
    
                        </div>
                        <!-- Action -->
                        <div class="text-secondary w-40 md:w-1/6 items-center">
                            <div class="flex flex-col w-full">
                                <!-- Edit Button -->
                                <input
                                    [id]="'edit-address-button-' + customersAddress.id"
                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                    type="button"
                                    (click)="editAddress(customersAddress)"
                                    mat-icon-button>
                                <label 
                                    class="flex items-center justify-start cursor-pointer group hover:font-bold"
                                    [for]="'edit-address-button-' + customersAddress.id"
                                    matRipple>
                                    <mat-icon
                                        class="pr-2 group-hover:font-bold"
                                        [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                        Edit
                                </label>

                                <!-- Delete Button -->
                                <ng-container *ngIf="!customersAddress.isDefault">
                                    <input
                                        [id]="'delete-address-button-' + customersAddress.id"
                                        class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                        type="button"
                                        (click)="deleteAddress(customersAddress.id)"
                                        mat-icon-button>
                                    <label 
                                        class="flex items-center justify-start cursor-pointer group hover:font-bold hover:text-red-400"
                                        [for]="'delete-address-button-' + customersAddress.id"
                                        matRipple>
                                        <mat-icon
                                            class="pr-2 group-hover:text-red-600"
                                            [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                            Delete
                                    </label>
                                </ng-container>

                                <!-- Set Default -->
                                <ng-container *ngIf="!customersAddress.isDefault">
                                    <input
                                        id="'set-default-address-button-' + customersAddress.id"
                                        class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                        type="button"
                                        (click)="setAsDefault(customersAddress)"
                                        mat-icon-button>
                                    <label 
                                        class="flex items-center justify-start cursor-pointer hover:font-bold"
                                        for="'set-default-address-button-' + customersAddress.id"
                                        matRipple>
                                        Set Default
                                    </label>
                                </ng-container>

                                <!-- Set Default -->
                                <ng-container *ngIf="customersAddress.isDefault">
                                    <input
                                        id="'default-address-button-' + customersAddress.id"
                                        class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                        type="button"
                                        (click)="setAsDefault(customersAddress)"
                                        mat-icon-button>
                                    <label 
                                        class="flex items-center justify-start cursor-pointer text-primary font-bold"
                                        for="'default-address-button-' + customersAddress.id"
                                    >
                                        <mat-icon
                                            class="text-primary pr-2"
                                            [svgIcon]="'heroicons_outline:badge-check'"></mat-icon>
                                            Default
                                    </label>
                                </ng-container>
                                
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    
    </form>

</div>
