<div class="flex flex-col w-full mt-2 sm:mt-0">
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-emphasized-affix w-full" #autocompleteField>
        <mat-icon class="text-primary" svgIcon="heroicons_outline:search"></mat-icon>
        <input
            #searchInput
            id="inputElement"
            class="pl-4"
            matInput
            [formControl]="searchControl"
            [autocomplete]="'off'"
            [placeholder]="placeholder"
            [matAutocomplete]="matAutocomplete"
            (keypress)="onKeypress($event)"
            (keydown.enter)="goToSearch($event.target.value)">
        <div *ngIf="currentScreenSize.includes('sm')" class="text-white font-semibold" matSuffix>
            <!-- <input mat-button id="search-btn" type="button">
            <label for="search-btn" (click)="goToSearch(searchControl.value)">
                <span>Search</span>
            </label> -->
            <button class="p-2.5 font-bold" (click)="goToSearch(searchControl.value);">Search</button>
        </div>
        <!-- </ng-container> -->
        <!-- <div class="w-15 py-1">
            <input
                id="add-voucher-button"
                type="button"
                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                mat-button
                >
            <label 
                class="flex items-center justify-center h-9 rounded-lg bg-primary hover:bg-primary-700 cursor-pointer"
                for="add-voucher-button"
                matRipple>
                <mat-icon class="icon-size-5 items-center text-white" svgIcon="heroicons_solid:adjustments"></mat-icon>
            </label>
        </div> -->
    </mat-form-field>
    <mat-autocomplete
        class="max-h-128 mt-1 rounded"
        [disableRipple]="true"
        #matAutocomplete="matAutocomplete">
        <!-- <mat-option
            class="py-0 px-6 text-md pointer-events-none text-secondary bg-transparent"
            *ngIf="(autoCompleteList && !autoCompleteList.length) && resultSets.length > 0">
            No results found!
        </mat-option> -->
        <ng-container *ngFor="let result of autoCompleteList; trackBy: trackByFn">
            <!-- {{resultSet | json}} -->
            <!-- <mat-optgroup class="flex items-center mt-2 px-2">
                <span class="text-sm font-semibold tracking-wider text-secondary">{{ result.storeId ? result.storeId : "No Store" }}</span>
            </mat-optgroup> -->
            <mat-option
                class="group relative mb-1 py-0 px-6 text-md rounded-md hover:bg-gray-100 dark:hover:bg-hover"
            >
                <ng-container *ngTemplateOutlet="historyResult; context: {$implicit: result}"></ng-container>
            </mat-option>
        </ng-container>
    </mat-autocomplete>
</div>

<!-- Contact result template -->
<ng-template
    #historyResult
    let-result>
    <div class="flex flex-row items-center">

        <div class="flex items-center justify-between w-full"
            (click)="selectResult(result); blurInput()">
            <div class="flex flex-row items-center">
                <div class="flex shrink-0 items-center justify-center w-8 h-8 rounded-full overflow-hidden bg-primary-100 dark:bg-primary-800">
                    <img
                        class="object-cover"
                        *ngIf="result.image"
                        [src]="result.image">
                    <img
                        class="p-0.5"
                        *ngIf="!result.image"
                        [src]="'https://symplified.it/store-assets/deliverin-logo.png'">
                </div>
                <div class="ml-6 truncate">
                    <span [innerHTML]="result.searchText"></span>
                </div>
            </div>
        </div>
        <ng-container *ngIf="customer">
            <button mat-icon-button (click)="deleteSelectedResult(result.id);blurInput()">
                <mat-icon
                    class="m-0 icon-size-5 text-primary dark:text-primary-400"
                    [svgIcon]="'feather:x-circle'"></mat-icon>
            </button>
        </ng-container>
        <ng-container *ngIf="!customer">
            <button mat-icon-button (click)="deleteGuestSelectedResult(result.searchText);blurInput()">
                <mat-icon
                    class="m-0 icon-size-5 text-primary dark:text-primary-400"
                    [svgIcon]="'feather:x-circle'"></mat-icon>
            </button>
        </ng-container>
    </div>
</ng-template>