<div class="flex flex-col items-center justify-center w-full h-8 bg-zinc-100 px-5">
    <!-- *ngIf="breadcrumbs.length > 0" -->
    <div class="w-full flex flex-row lg:max-w-300 truncate items-center text-xs lg:text-sm">
        <div class="flex items-center">
            <!-- <a [routerLink]="['']" class="whitespace-nowrap text-white font-semibold cursor-pointer">Home</a> -->
            <mat-icon  
            class="icon-size-3 text-gray-300 cursor-pointer"
            [routerLink]="['']"  
            svgIcon="heroicons_solid:home"></mat-icon>
        </div>
        <ng-container *ngFor="let breadcrumb of breadcrumbs; let i = index;">
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon
                    class="icon-size-4 text-secondary text-gray-300"
                    [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                <span [routerLink]="breadcrumb.url" routerLinkActive="router-link-active" 
                   [ngClass]="breadcrumbs.length === (i + 1) ? 'text-gray-400' : 'text-gray-300'" class="ml-1 font-base cursor-pointer">{{ breadcrumb.label | titlecase }}</span>
            </div>
        </ng-container>
    </div>
</div>