<div class="flex flex-col items-center bg-card w-full h-full">
    <!-- Search -->
    <!-- <search *ngIf="!currentScreenSize.includes('md')" class="w-full"></search> -->
    <search class="w-full mb-2 sm:mt-2 sm:mb-4"></search>
    <!-- Promotion Banner -->
    <div class="w-full">
        <!-- Banner  -->
        <div class="flex flex-col relative items-center w-full bg-no-repeat bg-cover bg-center overflow-hidden rounded-xl">
            <swiper-banner class="w-full"></swiper-banner>
        </div>
    </div>
    <!-- Locations -->
    <featured-locations class="w-full mt-4" [locations]="locations" [showViewAll]="false" [title]="'Locations'"></featured-locations>
    <!-- Categories -->
    <featured-categories class="w-full mt-4 sm:mt-8" [categories]="categories" [showViewAll]="false" [title]="'Categories'"></featured-categories>
    <!-- Featured Products -->
    <ng-container *ngIf="featuredProducts && featuredProducts.length">
        <featured-products id="featuredProductsContainer" class="w-full mt-4 sm:mt-8" [products]="featuredProducts" [showViewAll]="false" [title]="'Featured Products'"></featured-products>
        <!-- Pagination -->
        <ng-container *ngIf="featuredProductsPagination && featuredProductsPagination.length > featuredProductPageSize ">
            <div class="flex w-full my-4 items-center justify-center">
                <pagination 
                    [itemLength]="featuredProductsPagination.length" 
                    [initialPage]="featuredProductsPagination.page + 1"
                    [pageSize]="featuredProductsPagination.size"
                    (changePage)="onChangePage($event, 'product')"
                    (click)="scroll('featuredProductsContainer')"
                    #productsPaginator></pagination>
            </div>
        </ng-container>
    </ng-container>
    <!-- Featured Stores -->
    <ng-container *ngIf="featuredStores && featuredStores.length">
        <featured-stores id="featuredStoresContainer" class="w-full mt-4 sm:mt-8" [stores]="featuredStores" [showViewAll]="false" [title]="'Featured Stores'"></featured-stores>
        <!-- Pagination -->
        <ng-container *ngIf="featuredStoresPagination && featuredStoresPagination.length > featuredStorePageSize">
            <div class="flex w-full my-4 items-center justify-center">
                <pagination 
                    [itemLength]="featuredStoresPagination.length" 
                    [initialPage]="featuredStoresPagination.page + 1"
                    [pageSize]="featuredStoresPagination.size"
                    (changePage)="onChangePage($event, 'store')"
                    (click)="scroll('featuredStoresContainer')"
                    #storesPaginator></pagination>
            </div>
        </ng-container>
    </ng-container>
    <!-- Ads Banner -->
    <ads-banner class="w-full sm:mb-2" [banners]="ads"></ads-banner>
</div>
