<div class="flex flex-col items-center bg-card w-full p-2 sm:p-4 h-full">
    <!-- Search -->
    <!-- <search *ngIf="!currentScreenSize.includes('md')" class="w-full"></search> -->
    <search class="w-full"></search>
    <!-- Promotion Banner -->
    <div class="w-full">
        <!-- Banner  -->
        <div class="flex flex-col relative items-center w-full mt-4 bg-no-repeat bg-cover bg-center overflow-hidden rounded-xl">
            <swiper-banner class="w-full"></swiper-banner>
        </div>
    </div>
    <!-- Locations -->
    <featured-locations class="w-full" [locations]="locations" [showViewAll]="locationsViewAll" [title]="'Explore these locations'"></featured-locations>
    <!-- Categories -->
    <featured-categories class="w-full" [categories]="categories" [showViewAll]="categoriesViewAll" [title]="'Discover your favorites'"></featured-categories>
    <!-- Featured Stores -->
    <ng-container *ngIf="featuredStores && featuredStores.length">
        <featured-stores class="w-full" [stores]="featuredStores" [showViewAll]="storesViewAll" [title]="'Check out our featured merchants'"></featured-stores>
        <!-- Pagination -->
        <ng-container *ngIf="featuredStoresPagination">
            <div class="flex w-full my-4 items-center justify-center">
                <pagination 
                    [itemLength]="featuredStoresPagination.length" 
                    [initialPage]="featuredStoresPagination.page + 1"
                    [pageSize]="featuredStoresPagination.size"
                    (changePage)="onChangePage($event, 'store')"
                    #storesPaginator></pagination>
            </div>
        </ng-container>
    </ng-container>
    <!-- Featured Products -->
    <ng-container *ngIf="featuredProducts && featuredProducts.length">
        <featured-products class="w-full" [products]="featuredProducts" [showViewAll]="productsViewAll" [title]="'Try our featured products'"></featured-products>
        <!-- Pagination -->
        <ng-container *ngIf="featuredProductsPagination">
            <div class="flex w-full my-4 items-center justify-center">
                <pagination 
                    [itemLength]="featuredProductsPagination.length" 
                    [initialPage]="featuredProductsPagination.page + 1"
                    [pageSize]="featuredProductsPagination.size"
                    (changePage)="onChangePage($event, 'product')"
                    #productsPaginator></pagination>
            </div>
        </ng-container>
    </ng-container>
    <!-- Ads Banner -->
    <ads-banner class="w-full" [banners]="ads"></ads-banner>
</div>
