<div class="flex flex-col items-center bg-card w-full p-2 sm:p-4 h-full">            
    <ng-container *ngIf="store">
        <!-- Search -->
        <!-- <search *ngIf="!currentScreenSize.includes('md')" class="w-full" [storeId]="store.id" [store]="storeDetails"></search> -->
        <!-- <search class="w-full" [storeId]="store.id" [store]="storeDetails"></search> -->
        <!-- Selected Store -->
        <fuse-card class="flex flex-row h-32 md:h-full w-full border border-primary rounded-lg filter-article">
            <div class="flex-0 w-30 md:w-44">
                <img
                class="w-full shadow h-full object-cover"
                [src]="displayStoreLogo(store.storeAssets)"
                [alt]="'Card cover image'">
            </div>
            <div class="flex flex-col md:flex-row md:p-4 justify-between m-2 w-full">
                <div class="flex flex-col">
                    <div class="flex flex-row gap-x-1 md:p-2">
                        <span class="text-xs sm:text-sm md:text-base">Contact Us:</span>
                        <span class="text-xs sm:text-sm md:text-base font-medium">{{store.phoneNumber}}</span>
                    </div>
                    <div class="flex flex-row gap-x-1 md:p-2">
                        <span class="text-xs sm:text-sm md:text-base">Address:</span>
                        <span class="text-xs sm:text-sm md:text-base font-medium">{{store.address}}</span>
                    </div>                        
                    <div class="flex flex-row gap-x-1 md:p-2">
                        <span class="text-xs sm:text-sm md:text-base">Products:</span>
                        <span class="text-xs sm:text-sm md:text-base font-medium">{{pagination?.length}}</span>
                    </div>
                </div>
                <div class="w-26 sm:w-30 md:w-32">
                    <div class="group cursor-pointer" (click)="chooseStore(store.domain)">
                        <div class="flex flex-row items-center border rounded-md border-primary py-1 px-2 group-hover:bg-primary">
                            <mat-icon class="icon-size-5 text-primary group-hover:text-white sm:icon-size-6" svgIcon="mat_outline:storefront"></mat-icon>
                            <span class="text-xs sm:text-sm md:text-base font-semibold group-hover:text-white text-primary pl-2 tracking-tight">View Store</span>
                        </div>
                    </div>
                </div>
            </div>
        </fuse-card>
        <!-- Products -->
        <ng-container *ngIf="product;else noProduct">
            <div class="flex flex-col md:flex-row justify-between w-full mt-3 md:mt-6">

                <!-- Product Assets -->
                <div class="flex justify-center w-full md:w-140 md:pr-6 lg:w-1/2">
                    <ngx-gallery class="shadow w-full md:h-full z-10" style="border-radius: 15px;" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                </div>
                
                <!-- Product Details -->
                <div class="flex flex-col w-full md:w-1/2 ">
                    <!-- Title -->
                    <div class="justify-start items-center mt-6 md:mt-0">
                        <span class="text-2xl md:text-3xl font-semibold leading-none items-center">{{product.name}}</span>
                        <!-- <span *ngIf="displayedProduct.discountAmount>0" class="mb-2 py-1 px-3 rounded text-sm font-semibold mx-2 items-center" [ngClass]="'text-primary-100 bg-red-600'">      
                            {{displayedProduct.discountAmount}}% Off
                        </span> -->
                    </div>
                    <!-- Product Rating -->
                    <div class="flex items-center leading-none mt-2 -ml-1">
                        <div class="flex items-center">
                            <mat-icon
                                class="text-yellow-400 icon-size-5"
                                [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon
                                class="text-yellow-400 icon-size-5"
                                [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon
                                class="text-yellow-400 icon-size-5"
                                [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon
                                class="text-yellow-400 icon-size-5"
                                [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon
                                class="text-yellow-400 icon-size-5"
                                [svgIcon]="'mat_outline:star_half'"></mat-icon>
                        </div>
                        <div class="text-secondary ml-2">4.5</div>
                        <div class="text-secondary mx-2">&bull;</div>
                        <div class="text-secondary">98 reviews</div>
                    </div>
                    <!-- Price -->
                    <div class="mt-2">
                        <ng-container *ngIf="displayedProduct.discountAmount>0;else noItemDiscount" >
                            <p class="font-semibold items-center">Price: &nbsp; 
                                <span style="text-decoration: line-through;" class="px-2">{{displayedProduct.price | currency: store.regionCountry.currencySymbol}}</span> 
                                <span class="text-xl font-semibold text-primary px-2 ">{{displayedProduct.discountedPrice | currency: store.regionCountry.currencySymbol}}</span> 
                                <span class="mb-2 py-1 px-3 rounded text-sm font-semibold mx-2 items-center" [ngClass]="'text-primary-100 bg-red-600'">{{displayedProduct.discountAmount}}% Off</span> 
                            </p>
                        </ng-container>
                        <ng-template #noItemDiscount>
                            <p class="font-semibold">Price: &nbsp; <span class="text-xl font-semibold text-primary px-2">{{displayedProduct.price | currency: store.regionCountry.currencySymbol}}</span> </p>
                        </ng-template>
                    </div>
                    <!-- Details -->
                    <div class="">
                        <p class="mb-2 font-semibold">Details:</p> 
                        <span class="text-sm font-normal text-gray-400" [innerHTML]="product.description"></span>
                    </div>
                    <!-- Variants / Combo -->
                    <ng-container *ngIf="!product.isPackage; else comboProduct">
                        <!-- Variants -->
                        <fieldset 
                            [id]="variant.name" 
                            *ngFor="let variant of product.productVariants; let i = index;"
                            class="py-1">
                            <label class="font-semibold" for="{{variant.name}}">{{variant.name | titlecase }} : </label>
                            <ul class="grid grid-cols-2 my-2">
                                <li *ngFor="let option of variant.productVariantsAvailable; let i = index;" class="flex items-center">
                                    <input type="radio"
                                        class=""
                                        id="{{variant.name + i}}" 
                                        value="{{option.value}}" 
                                        name="{{variant.name}}" 
                                        [checked]="selectedVariants.indexOf(option.id) > -1"
                                        (change)="onChangeVariant(option.id, variant.name, option.productId)"
                                    >
                                    <label class="pl-2" for="{{variant.name + i}}">{{option.value}}</label>
                                    <!-- <label for="{{variant.name + i}}">{{option.value}} / {{ selectedVariants.indexOf(option.id) }} / {{option.id}}</label> -->
                                </li>
                            </ul>
                        </fieldset>
                    </ng-container>
                    <ng-template #comboProduct>
                        <!-- Combo -->
                        <fieldset 
                            [id]="combo.title" 
                            *ngFor="let combo of combos; let i = index;"
                            class="py-1">
                            <label class="font-semibold" for="{{combo.title}}">{{combo.title | uppercase}} : (Select {{ combo.totalAllow }} of {{ combo.productPackageOptionDetail.length }})</label>
                            <ul class="grid grid-cols-2">
                                <li *ngFor="let option of combo.productPackageOptionDetail; let i = index;" class="flex items-center">
                                    <input type="checkbox" 
                                        [id]="'combo-checkbox-' + combo.id + '-' + option.productId"
                                        [value]="option.productId" 
                                        [name]="'combo-checkbox-' + combo.id + '-' + option.productId"
                                        [checked]="selectedCombo[combo.id].indexOf(option.productId) > -1"
                                        (change)="onChangeCombo(combo.id, option.productId, $event)"
                                    >
                                    <label class="pl-2" [for]="'combo-checkbox-' + combo.id + '-' + option.productId">{{option.product.name}}</label>
                                    <!-- <label for="{{variant.name + i}}">{{option.value}} / {{ selectedVariants.indexOf(option.id) }} / {{option.id}}</label> -->
                                </li>
                            </ul>
                        </fieldset>
                    </ng-template>

                    <!-- Quantity -->
                    <div class="flex flex-row justify-between items-center mt-4">
                        <span class="font-semibold">Quantity:</span> 
                        <div class="flex flex-row h-8 w-20 rounded-md relative bg-primary">
                            <button (click)="checkQuantity('decrement')" class="text-white hover:bg-white hover:text-primary border border-primary h-full w-20 rounded-l-md cursor-pointer outline-none pb-2">
                                <span class="text-2xl">−</span>
                            </button>
                            <input [(ngModel)]="quantity" (change)="checkQuantity()" type="number" class="focus:outline-none text-center w-full font-semibold text-md text-white focus:text-white md:text-basecursor-default flex items-center outline-none" name="custom-input-number" value="0"/>
                            <button (click)="checkQuantity('increment')" class="text-white hover:bg-white hover:text-primary border border-primary h-full w-20 rounded-r-md cursor-pointer pb-2">
                                <span class="text-2xl">+</span>
                            </button>
                        </div>
                    </div>

                    <!-- Special Instruction -->
                    <form [formGroup]="specialInstructionForm">
                        <div class="w-full mt-2">
                            <span class="font-semibold">Special Instruction{{ product.isNoteOptional === false ? ' (required)' : ''}}:</span> 
                            <mat-form-field class="mt-2 fuse-mat-textarea w-full" floatLabel="always">
                                <!-- [(ngModel)]="specialInstruction" -->
                                <textarea
                                    [ngClass]="'border border-red-600'"
                                    matInput
                                    [formControlName]="'specialInstructionValue'"
                                    maxlength="500"
                                    [rows]="5"
                                    [placeholder]="product.customNote ? product.customNote : 'Make it special'"
                                    [required]="product.isNoteOptional === false"
                                    matTextareaAutosize></textarea>
                                    <mat-error *ngIf="specialInstructionForm.get('specialInstructionValue').hasError('required')">
                                        Oops! The special instruction is required for this item
                                    </mat-error>
                            </mat-form-field>
                        </div>

                    </form>

                    <div class="flex flex-row w-full justify-between mb-2">
                        <p class="font-semibold">Total:</p> 
                        <ng-container *ngIf="displayedProduct.discountAmount>0;else noItemDiscountSubTotal">
                            <span class="text-xl font-semibold px-2 ">{{(displayedProduct.discountedPrice * quantity) | currency: store.regionCountry.currencySymbol}}</span>
                        </ng-container>
                        <ng-template #noItemDiscountSubTotal>
                            <span class="text-xl font-semibold px-2 ">{{(displayedProduct.price * quantity) | currency: store.regionCountry.currencySymbol}}</span>
                        </ng-template>
                    </div>

                    <!-- Add to cart / checkoout -->
                    <div class="w-full flex flex-row justify-between items-center">
                        <!-- Add to cart -->
                        <!-- [disabled]="!specialInstruction && product.isNoteOptional === false" -->
                        <!-- [ngClass]="!specialInstruction && product.isNoteOptional === false ? 'cursor-default bg-gray-200' : 'cursor-pointer border-primary-300 bg-primary hover:border-primary-500'" -->
                        <input
                            id="add-to-cart-button"
                            type="button"
                            class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                            (click)="addToCart()"
                            mat-button>
                        <label 
                            class="flex items-center justify-center w-5/12 sm:w-2/5 h-10 px-2 rounded-lg cursor-pointer bg-primary group hover:bg-primary-600"
                            for="add-to-cart-button"
                            matRipple>
                            <span class="text-sm font-semibold text-white group-hover:text-black">Add to Cart</span>
                            <mat-icon
                                class="pl-1 text-white transform scale-75 group-hover:text-black"
                                [svgIcon]="'heroicons_solid:shopping-cart'"></mat-icon>
                        </label>

                        <!-- Checkout -->
                        <input
                            id="go-checkout-button"
                            type="button"
                            class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                            [routerLink]="['/carts']"
                            mat-button>
                        <label 
                            class="flex items-center justify-center w-5/12 sm:w-2/5 h-10 px-2 rounded-lg bg-green-500 cursor-pointer group hover:bg-green-600"
                            for="go-checkout-button"
                            matRipple>
                            <span class="text-sm font-semibold text-white group-hover:text-black">Checkout</span>
                            <mat-icon
                                class="pl-1 text-white transform scale-75 group-hover:text-black"
                                [svgIcon]="'heroicons_solid:shopping-bag'"></mat-icon>
                        </label>
                    </div>
                </div>
            </div>
        </ng-container>
        <!-- No Product -->
        <ng-template #noProduct>
            <div class="flex flex-auto flex-col items-center justify-center h-56 border-gray-300 dark:bg-transparent">
                <mat-icon
                    class="icon-size-20"
                    [svgIcon]="'heroicons_outline:document-search'"></mat-icon>
                <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">Product not found!</div>
            </div>
        </ng-template>

        <div class="mt-8 mb-4 border-t border-gray-300 items-center w-full"></div>

        <!-- Popular products  -->
        <span class="flex font-semibold text-xl w-full">Popular Products from {{store.name}}</span>
        <ng-container *ngIf="products && products.length > 0">
            <div class="grid grid-cols-2 md:grid-cols-4 gap-2 sm:gap-3 w-full mt-2 sm:mt-4">
                <ng-container *ngFor="let product of products">
                    <!-- need to do this because featuredProducts and productDetails have different response -->
                    <ng-container *ngTemplateOutlet="productResult; context: {$implicit: product.productDetails ? product.productDetails : product}">
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>

        <!-- Contact result template -->
        <ng-template
            #productResult
            let-product>
            <fuse-card
                (click)="redirectToProduct(product.seoUrl)"
                class="flex flex-col rounded-lg border border-gray-300 h-[210px] md:h-[220px] cursor-pointer filter-article">
                <div class="relative w-full">
                    <ng-container *ngIf="!product.thumbnailUrl" >
                        <div class="absolute flex flex-col w-full justify-center items-center left-0 right-0 top-0 bottom-0 bg-black opacity-40 rounded-t-lg">
                            <span class="text-white text-center opacity-100">Product image not available</span>
                        </div>
                    </ng-container>
                    <img
                        class="object-cover w-full h-[8.5rem] rounded-t-lg shadow"
                        [src]="product.thumbnailUrl ? product.thumbnailUrl : (product.storeCategory ? product.storeCategory.parentCategory.parentThumbnailUrl : platform.logo)">
                </div>
                <div class="flex flex-col justify-between h-full py-2 mx-2 mt-1">
                    <div class="flex flex-col">
                        <span class="text-base md:text-lg font-semibold line-clamp-1">{{product.name}}</span>
                    </div>
                    <div class="flex flex-row items-end justify-between">
                        <ng-container *ngIf="product.productInventories[0] && product.productInventories[0].itemDiscount">
                            <span class="line-through text-sm font-semibold">{{product.productInventories[0].itemDiscount.discountedPrice | currency: platform.currency}}</span>
                        </ng-container>
                        <ng-container *ngIf="product.productInventories[0]">
                            <span class="text-lg font-semibold">{{product.productInventories[0].price | currency: platform.currency}}</span>
                        </ng-container>
                    </div>
                </div>
            </fuse-card>
        </ng-template>
    </ng-container>
</div>