<ng-container *ngIf="location">
    <div class="flex flex-col items-center bg-card w-full h-full">
        <!-- Header -->
        <div class="w-full relative flex p-2 sm:p-4 overflow-hidden bg-white h-52 sm:h-70 lg:h-75 justify-center items-center">
            <!-- Background -->
            <div class="absolute inset-0 pointer-events-none">
                <img [src]="location.imageUrl ? location.imageUrl : platform.logo" alt="">
            </div>
            <!-- Black filter  -->
            <div class="absolute inset-0 pointer-events-none bg-black opacity-70"></div>
            <!-- Back button  -->
            <div class="absolute top-0 left-0 text-white cursor-pointer p-4 flex flex-row gap-x-1" (click)="backClicked()">
                <mat-icon
                    class="icon-size-5 text-white"
                    [svgIcon]="'heroicons_outline:chevron-left'"></mat-icon>
                <span class="pr-2">Back</span>
            </div>
            <!-- Text  -->
            <div class="z-10 relative flex flex-col items-center tracking-wide">
                <h2 class="text-xl text-white sm:text-2xl">{{location.cityDetails.name}}</h2>
                <h2 *ngIf="category" class="text-lg text-white sm:text-xl">{{category.parentName}}</h2>
                <div class="border-t w-40 border-white"></div>
                <div class="max-w-2xl mt-2 sm:text-xl text-center text-secondary text-white">
                    50 products
                </div>
            </div>
        </div>
        <!-- Content  -->
        <div class="flex flex-col bg-card w-full px-2 sm:px-4 h-full">
            <!-- Featured Categories -->
            <featured-categories class="w-full" [categories]="categories" [location]="locationId"></featured-categories>
            <!-- Featured Products -->
            <ng-container *ngIf="false">
                <featured-products class="w-full" [products]="products"></featured-products>
            </ng-container>
            <ng-template #noProduct>
                <span class="font-semibold text-xl items-start mt-4">Product</span>
                <span class=" items-start">
                    No product found.
                </span>
            </ng-template>
            <!-- Featured Stores -->
            <ng-container *ngIf="stores; else noStore">
                <featured-stores class="w-full" [stores]="stores" [showViewAll]="storesViewAll" [redirectURL]="redirectUrl"></featured-stores>
            </ng-container>
            <ng-template #noStore>
                <span class="font-semibold text-xl items-start mt-4">Store</span>
                <span class=" items-start">
                    No store found.
                </span>
            </ng-template>
        </div>
    </div>
</ng-container>
