<!-- Order Details -->
<div class="p-2 pt-8 sm:p-12 flex flex-col w-full">
    <ng-container *ngIf="orderDetails">
        <div class="container mx-auto w-full">
            <div class="w-full">
                <!-- Order Header -->
                <div class="w-full border border-gray-300 rounded-lg py-2 px-4 mb-4">
                    <div class="flex flex-col w-full">
                        <div class="flex flex-row justify-between">
                            <h3 class="font-semibold text-lg pt-5 items-center">Order ID : {{rider$.orderNumber}}</h3>
                            <button class="flex flex-row m-2 justify-center w-32 border border-primary p-2 rounded">
                                <!-- Progress Status Icon -->
                                <mat-icon 
                                    *ngIf="orderDetails.completionStatus === 'BEING_PREPARED' || orderDetails.completionStatus === 'PAYMENT_CONFIRMED'" 
                                    class="text-green-500" 
                                    svgIcon="heroicons_solid:clock">
                                </mat-icon>
                                <mat-icon 
                                    *ngIf="orderDetails.completionStatus === 'BEING_DELIVERED' || orderDetails.completionStatus === 'AWAITING_PICKUP'" 
                                    class="text-green-500" 
                                    svgIcon="local_shipping">
                                </mat-icon>
                                <mat-icon 
                                    *ngIf="orderDetails.completionStatus === 'DELIVERED_TO_CUSTOMER' || orderDetails.completionStatus === 'RECEIVED_AT_STORE'"
                                    class="text-green-500" 
                                    svgIcon="heroicons_solid:check-circle">
                                </mat-icon>
                                <mat-icon 
                                    *ngIf="orderDetails.completionStatus === 'CANCELED_BY_CUSTOMER' || orderDetails.completionStatus === 'CANCELED_BY_MERCHANT'"
                                    class="text-red-600" 
                                    svgIcon="heroicons_solid:x-circle">
                                </mat-icon>

                                <!-- Progress Status -->
                                <span 
                                    *ngIf="orderDetails.completionStatus === 'BEING_PREPARED' || orderDetails.completionStatus === 'PAYMENT_CONFIRMED'" 
                                    class="font-semibold items-center pl-2">To Ship
                                </span>
                                <span 
                                    *ngIf="orderDetails.completionStatus === 'BEING_DELIVERED' || orderDetails.completionStatus === 'AWAITING_PICKUP'" 
                                    class="font-semibold items-center pl-2">Shipping
                                </span>
                                <span 
                                    *ngIf="orderDetails.completionStatus === 'DELIVERED_TO_CUSTOMER' || orderDetails.completionStatus === 'RECEIVED_AT_STORE'" 
                                    class="font-semibold items-center pl-2">Delivered
                                </span>
                                <span 
                                    *ngIf="orderDetails.completionStatus === 'CANCELED_BY_CUSTOMER' || orderDetails.completionStatus === 'CANCELED_BY_MERCHANT'" 
                                    class="font-semibold items-center pl-2">Cancelled
                                </span>
                            </button> 
                        </div>
                        <div class="flex flex-col my-3 w-full border-t pt-4">
                            <div class="flex flex-row">
                                <mat-icon class="text-primary" svgIcon="mat_solid:storefront"></mat-icon>
                                <div class="flex flex-col pl-2">
                                    <h3 class="font-bold text-xl">{{orderDetails.store.name}}</h3>
                                    <h3 class="font-medium text-gray-400 text-md">Order Placed : {{orderDetails.created | date:'MMM dd yyyy, h:mm a' }}</h3>
                                </div>
                            </div>
                            <div class="flex flex-row pt-4">
                                <mat-icon class="text-primary" svgIcon="mat_outline:location_on"></mat-icon>
                                <div class="flex flex-col pl-2">
                                    <h3 class="font-semibold text-primary text-lg">Delivery Address</h3>
                                    <h3 class="font-medium pt-2 text-md">Name : {{orderDetails.customer.name}}</h3>
                                    <h3 class="font-medium pt-2 text-md">Contact : {{orderDetails.customer.phoneNumber}}</h3>
                                    <h3 class="font-medium pt-2 text-md">Address : {{orderDetails.orderShipmentDetail.address}}, {{orderDetails.orderShipmentDetail.zipcode}}, {{orderDetails.orderShipmentDetail.city}}, {{orderDetails.orderShipmentDetail.state}}</h3>
                                </div>
                            </div>
                            <div class="flex flex-row pt-4">
                                <svg class="h-6 w-6 text-primary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" 
                                    stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" 
                                    d="M0 0h24v24H0z"/>  <circle cx="7" cy="17" r="2" />  <circle cx="17" cy="17" r="2" />  <path 
                                    d="M5 17h-2v-4m-1 -8h11v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5" />  <line x1="3" y1="9" x2="7" y2="9" /></svg>
                                <div class="flex flex-col pl-2">
                                    <h3 class="font-semibold text-primary text-lg">Delivery Option</h3>
                                    <h3 class="font-medium pt-2 text-md">{{orderDetails.orderShipmentDetail.deliveryPeriodDetails.id}}</h3>
                                </div>
                            </div>
                            <div class="flex flex-row pt-4">
                                <svg class="h-6 w-6 text-primary"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" 
                                    stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" 
                                    d="M0 0h24v24H0z"/>  <circle cx="7" cy="17" r="2" />  <circle cx="17" cy="17" r="2" />  <path 
                                    d="M5 17h-2v-11a1 1 0 0 1 1 -1h9v6h-5l2 2m0 -4l-2 2" />  <path d="M9 17h6" />  <path d="M13 6h5l3 5v6h-2" /></svg>
                                <div class="flex flex-col pl-2">
                                    <h3 class="font-semibold text-primary text-lg">Tracking Number</h3>
                                    <h3 class="font-medium pt-2 text-md">{{orderDetails.orderShipmentDetail.trackingNumber}}</h3>
                                </div>
                            </div>
                            <!-- <ng-container *ngIf="(activities$ | async) as activities; else loading">
                                <ng-container *ngIf="activities.length; else noActivity"> -->
                                    <div class="mt-2 pl-6 mb-4">
                                        <ol>
                                            <!-- Activities -->
                                            <!-- <ng-container *ngFor="let activity of activities; let i = index; let first = first; let last = last; trackBy: trackByFn"> -->
                
                                                <!-- Activity -->
                                                <li class="relative flex py-7">
                                                    <!-- Line -->
                                                    <ng-container *ngIf="true">
                                                        <div class="absolute top-7 left-5 w-0.5 h-full -ml-px bg-gray-500"></div>
                                                    </ng-container>
                
                                                    <div class="relative flex flex-auto">
                                                        <!-- Icon -->
                                                        <ng-container *ngIf="true">
                                                            <div class="flex flex-shrink-0 items-center justify-center w-7 h-7 ml-1.5 mr-4 rounded-full bg-green-500">
                                                                <mat-icon
                                                                    class="icon-size-5 text-white"
                                                                    [svgIcon]="'heroicons_solid:badge-check'">
                                                                </mat-icon>
                                                            </div>
                                                        </ng-container>
                
                                                        <!-- Content -->
                                                        <div class="flex flex-col flex-auto items-start">
                                                            <!-- Description -->
                                                            <div class="text-secondary">
                                                                {{orderDetails.created | date:'MMM dd yyy, h:mm a'}}
                                                            </div>
                                                            <!-- Extra content -->
                                                            <span class="font-semibold pt-2">Order created from store {{orderDetails.store.name}}</span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="relative flex py-7">
                                                    <!-- Line -->
                                                    <ng-container *ngIf="true">
                                                        <div class="absolute top-7 left-5 w-0.5 h-full -ml-px bg-gray-500"></div>
                                                    </ng-container>
                
                                                    <div class="relative flex flex-auto">
                                                        <!-- Icon -->
                                                        <ng-container *ngIf="true">
                                                            <div class="flex flex-shrink-0 items-center justify-center w-7 h-7 ml-1.5 mr-4 rounded-full bg-green-500">
                                                                <mat-icon
                                                                    class="icon-size-5 text-white"
                                                                    [svgIcon]="'heroicons_solid:badge-check'">
                                                                </mat-icon>
                                                            </div>
                                                        </ng-container>
                
                                                        <!-- Content -->
                                                        <div class="flex flex-col flex-auto items-start">
                                                            <!-- Description -->
                                                            <div class="text-secondary">
                                                                {{orderDetails.created | date:'MMM dd yyy, h:mm a'}}
                                                            </div>
                                                            <!-- Extra content -->
                                                            <ng-container *ngIf="true">
                                                                <div
                                                                    class="mt-4 py-4 px-5 rounded-lg bg-gray-200 dark:bg-gray-800"
                                                                    >Order Created from {{orderDetails.store.name}}</div>
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                </li>
                                            <!-- </ng-container> -->
                                        </ol>
                                    </div>
                                <!-- </ng-container>
                            </ng-container> -->
                        </div>
                        <div class="flex flex-col my-3 items-center justify-between w-full border-t pt-4">
                            <ng-container *ngFor="let orderItem of orderDetails.orderItemWithDetails">
                                <div class="flex flex-row justify-between w-full py-2">
                                    <div class="w-full">
                                        <div class="relative flex flex-0 items-center justify-center w-16 h-16 mr-4 rounded overflow-hidden border">
                                            <img
                                            class="w-32"
                                            [alt]="'Product thumbnail image of ' + orderItem.productName"
                                            [src]="orderItem.itemAssetDetails ? orderItem.itemAssetDetails.url : 'assets/branding/symplified/logo/symplified.png'">
                                            <div
                                                class="flex items-center justify-center w-full h-full text-xs font-semibold leading-none text-center uppercase">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-full">
                                        <h3 class="font-bold">{{orderItem.productName}}</h3>
                                        <h3 class="text-gray-400">{{orderItem.productVariant}}</h3>
                                    </div>
                                    <div class="items-center justify-center">
                                        <h3 class="text-gray-400">x{{orderItem.quantity}}</h3>
                                    </div>
                                    <div class="items-end w-full flex flex-col">
                                        <!-- <h3 style="text-decoration: line-through;" class="font-bold">19.44</h3> -->
                                        <h3 class="font-bold text-primary">{{orderItem.productPrice | currency: orderDetails.store.regionCountry.currencySymbol}}</h3>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div>
                            <!-- border -->
                            <div class="border-t w-full"></div>
 
                            <div class="flex flex-row justify-between w-full py-4">
                                <!-- Order Details Button -->
                                <h3 class="font-bold ">Total Amount</h3>
                                <p class="items-center font-semibold text-gray-400">Total Order ({{orderDetails.orderItemWithDetails.length}}): {{orderDetails.total | currency: orderDetails.store.regionCountry.currencySymbol}}</p> 
                                    <!-- <h3 class="w-fulltext-lg font-semibold">{{orderDetails.total | currency: orderDetails.store.regionCountry.currencySymbol}}</h3> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>