<div class="flex flex-col items-center bg-card w-full px-3 h-full">
    <div class="w-full sm:p-4">
        <!-- Stores -->
        <div class="flex flex-col pt-8">
            <!-- Search For xs view Mobile -->
            <ng-container *ngIf="!currentScreenSize.includes('md')">
                <mat-form-field class="w-full fuse-mat-emphasized-affix min-w-64">
                    <input
                        matInput
                        [formControl]="searchInputControl"
                        [autocomplete]="'off'"
                        [placeholder]="'Search products'">
                    <mat-icon
                    class="icon-size-4 text-primary"
                    matSuffix
                    [svgIcon]="'search'"></mat-icon>
                </mat-form-field>
            </ng-container>
            <!-- store list -->
            <div class="grid md:grid-cols-5 grid-cols-6 gap-2 items-center w-full justify-between pt-2">
                <ng-container *ngFor="let store of stores">
                    <div class="grid col-span-3 sm:col-span-2 md:col-span-1 w-full items-start justify-center group">
                        <fuse-card
                            (click)="chooseStore(store.domain)" 
                            class="flex flex-col rounded-lg border border-gray-300 h-60 w-40 md:w-44 mb-3 cursor-pointer filter-article">
                            <img
                                class="object-cover h-26"
                                [src]="displayStoreLogo(store.storeAssets)">
                            <div class="flex flex-col m-2 font-semibold">
                                <span class="group-hover:text-primary  text-lg">{{store.name}}</span>
                                <p class="flex flex-row font-medium text-black text-xs" [innerHTML]="store.storeDescription"></p>
                            </div>
                        </fuse-card>
                    </div>
                </ng-container>
            </div>
        </div>
        <!-- Pagination -->
        <ng-container *ngIf="pagination">
            <div class="flex w-full my-4 items-center justify-center">
                <pagination 
                    [itemLength]="pagination.length" 
                    [initialPage]="pagination.page + 1"
                    [pageSize]="pagination.size"
                    (changePage)="onChangePage($event)"
                    #storesPaginator></pagination>
            </div>

        </ng-container>
    </div>
</div>
