<div class="flex flex-col max-w-110 md:min-w-110 ">

    <div class="flex justify-end">
        <button class="bg-white hover:bg-white"(click)="cancelButton()">    
            <mat-icon
            class="items-center text-gray-400 icon-size-6"
            [svgIcon]="'heroicons_outline:x'">
            </mat-icon>
        </button>
    </div>
    
    <div class="flex flex-col flex-auto w-full">
        
        <div class="flex flex-row items-center justify-center mt-2">
            <div class="rounded-full bg-primary w-20 h-20">
                <mat-icon
                class="items-center text-gray-400 icon-size-20"
                [svgIcon]="'heroicons_solid:shopping-cart'"></mat-icon>
            </div>
        </div>

        <div class="flex flex-row items-center justify-center py-2">
            <h1 class="text-2xl font-bold">Delete {{itemId ? 'Item':'Cart'}}</h1>
        </div>

        <div class="flex flex-col">
            <div class="flex flex-row items-center justify-center py-2">
                <h1 class="flex flex-col text-lg text-center justify-center">Are you sure you want to delete this {{itemId ? 'item' : 'cart'}}?</h1>
            </div>

        </div>
        <!-- Actions -->
        <div class="flex flex-row w-full items-center justify-between mt-2 mb-2">

            <!-- Send -->
            <button
                class=" p-2 px-6 w-1/2 mr-1 border rounded-lg border-primary-300 cursor-pointer hover:bg-primary-50"
                (click)="cancelButton()"
                >
                Cancel
            </button>

            <button
                class="p-2 px-6 w-1/2 ml-1 border rounded-lg bg-primary text-white hover:bg-primary-700 cursor-pointer"
                (click)="deleteButton()"
                >
                Delete
            </button>
            
        </div>

    </div>
</div>
