<div class="flex flex-col items-center bg-card w-full h-full">
    <!-- Search -->
    <!-- <search *ngIf="!currentScreenSize.includes('md')" class="w-full sm:mt-4"></search> -->
    <search class="w-full mb-2 sm:mt-2 sm:mb-4"></search>
    <!-- Featured Stores -->
    <featured-stores class="w-full" [stores]="stores" [title]="'Stores'"></featured-stores>
    <!-- Pagination -->
    <ng-container *ngIf="pagination">
        <div class="flex w-full my-4 items-center justify-center">
            <pagination 
                *ngIf="pagination.length > pagination.size"
                [itemLength]="pagination.length" 
                [initialPage]="pagination.page + 1"
                [pageSize]="pagination.size"
                (changePage)="onChangePage($event)"
                (click)="scrollToTop()"
                #storesPaginator></pagination>
        </div>
    </ng-container>
</div>
