<div class="flex flex-col items-center bg-card w-full p-2 sm:p-4 sm:pt-0 h-full">
    <!-- Search -->
    <search class="w-full sm:mt-4"></search>
    <!-- Featured Stores -->
    <featured-products class="w-full" [products]="products" [title]="'Products'"></featured-products>
    <!-- Pagination -->
    <ng-container *ngIf="pagination">
        <div class="flex w-full my-4 items-center justify-center">
            <pagination 
                *ngIf="pagination.length > pagination.size"
                [itemLength]="pagination.length" 
                [initialPage]="pagination.page + 1"
                [pageSize]="pagination.size"
                (changePage)="onChangePage($event)"
                (click)="scrollToTop()"
                #productsPaginator></pagination>
        </div>
    </ng-container>
</div>
