<div class="flex flex-col items-center bg-card w-full h-full">
    <!-- Search Bar -->
    <!-- <search *ngIf="!currentScreenSize.includes('md')" class="w-full sm:mt-4"></search> -->
    <!-- <search class="w-full sm:mt-4"></search> -->
    <!-- No Results -->
    <ng-container *ngIf="stores.length === 0 && products.length === 0">
        <div class="relative flex flex-col items-center justify-center w-full h-56 md:h-96 border-gray-300 dark:bg-transparent">
            <error-background class="absolute z-0 inset-0 w-full opacity-50"></error-background>
                <svg class="z-10" version="1.0" xmlns="http://www.w3.org/2000/svg"
                    width="100px" height="100px" viewBox="0 0 535.000000 480.000000"
                    preserveAspectRatio="xMidYMid meet">

                    <g transform="translate(0.000000,480.000000) scale(0.100000,-0.100000)" fill="var(--fuse-primary-800)" stroke="none">
                        <path d="M638 4152 l-618 -617 0 -1717 0 -1716 26 -31 26 -31 1788 0 1788 0
                        26 31 26 31 0 514 0 514 -100 0 -100 0 0 -450 0 -450 -1640 0 -1640 0 0 1585
                        0 1585 564 0 564 0 26 31 26 31 0 559 0 559 1050 0 1050 0 0 -435 0 -435 100
                        0 100 0 0 499 0 499 -26 31 -26 31 -1196 0 -1197 0 -617 -618z m562 -142 l0
                        -420 -422 0 -423 0 420 420 c231 231 421 420 422 420 2 0 3 -189 3 -420z"/>
                        <path d="M3495 3569 c-465 -55 -862 -401 -982 -856 -34 -132 -44 -374 -19
                        -506 44 -230 141 -420 305 -590 139 -145 276 -234 455 -296 122 -43 236 -61
                        386 -61 205 0 360 38 543 133 l98 51 292 -292 c193 -192 305 -296 329 -307 46
                        -19 108 -19 151 -1 50 21 262 243 277 290 13 42 8 102 -15 145 -7 15 -153 163
                        -324 330 l-309 302 24 56 c38 86 73 226 85 345 21 202 -19 426 -111 614 -216
                        445 -690 702 -1185 643z m370 -214 c366 -99 619 -353 711 -715 15 -59 19 -108
                        18 -230 -1 -137 -4 -165 -27 -245 -15 -49 -50 -135 -77 -190 l-51 -100 351
                        -345 352 -345 -81 -80 -81 -80 -338 338 c-185 185 -341 337 -346 337 -5 0 -27
                        -15 -50 -33 -101 -82 -257 -157 -404 -194 -100 -25 -331 -23 -433 5 -423 114
                        -713 465 -736 892 -25 475 306 896 783 995 89 19 324 13 409 -10z"/>
                        <path d="M521 2814 c-26 -22 -31 -33 -31 -70 0 -34 6 -51 25 -69 l24 -25 714
                        0 714 0 27 26 c38 38 36 95 -3 135 l-29 29 -705 0 -705 0 -31 -26z"/>
                        <path d="M529 2371 c-39 -40 -40 -93 -2 -133 l27 -28 614 0 614 0 29 29 c40
                        41 40 91 0 132 l-29 29 -612 0 -612 0 -29 -29z"/>
                        <path d="M521 1944 c-25 -21 -31 -33 -31 -66 0 -52 14 -77 55 -94 51 -21 1369
                        -21 1420 0 63 27 76 106 26 157 l-29 29 -705 0 -705 0 -31 -26z"/>
                        <path d="M544 1090 c-56 -22 -72 -108 -30 -157 l24 -28 286 0 286 0 27 28 c41
                        40 39 99 -5 138 l-32 29 -268 -1 c-147 0 -277 -4 -288 -9z"/>
                        <path d="M938 3 c507 -2 1337 -2 1845 0 507 1 92 2 -923 2 -1015 0 -1430 -1
                        -922 -2z"/>
                    </g>
                </svg>
            <div class="mt-6 text-2xl font-semibold tracking-tight text-primary-800 z-10">No result found, please try again.</div>
        </div>
    </ng-container>
    <!-- Products -->
    <ng-container *ngIf="products && products.length">
        <featured-products class="w-full" [products]="products" [title]="'Products'"></featured-products>
        <!-- Products Pagination -->
        <div class="flex w-full mt-4 items-center justify-center">
            <pagination 
                *ngIf="productPagination.length > productPagination.size"
                [itemLength]="productPagination.length" 
                [initialPage]="productPagination.page + 1"
                [pageSize]="productPagination.size"
                (changePage)="onChangePage($event, 'product')"
                #productsPaginator></pagination>
        </div>
    </ng-container>
    <!-- Stores -->
    <ng-container *ngIf="stores && stores.length">
        <featured-stores class="w-full" [stores]="stores" [title]="'Stores'"></featured-stores>
        <!-- Stores Pagination -->
        <div class="flex w-full my-4 items-center justify-center">
            <pagination 
                *ngIf="storePagination.length > storePagination.size"
                [itemLength]="storePagination.length" 
                [initialPage]="storePagination.page + 1"
                [pageSize]="storePagination.size"
                (changePage)="onChangePage($event, 'store')"
                #storesPaginator></pagination>
        </div>
    </ng-container>
    <!-- Ads Banner -->
    <ads-banner class="w-full z-10" [banners]="ads"></ads-banner>
</div>
