<ng-container *ngIf="categories && categories.length">
    <div class="flex flex-col w-full mt-4">
        <div class="flex flex-row w-full items-center justify-between">
            <span class="font-semibold text-xl">Categories</span>
            <span [routerLink]="'/category/'" class="font-semibold text-primary cursor-pointer hover:text-primary-600">View All</span>
        </div>
        <div class="grid grid-cols-4 gap-1 items-start w-full justify-between mt-2">
            <ng-container *ngFor="let category of categories">
                <div class="grid col-span-1 w-full justify-center">
                    <div class="flex flex-col w-full items-center cursor-pointer group" 
                        (click)="chooseCategory(category.parentId, location)">
                        <img
                            class="w-20 h-20 object-contain group-hover:border-2 items-start justify-start bg-stone-200 rounded-full p-2"
                            [src]="category.parentThumbnailUrl ? category.parentThumbnailUrl : platform.logo">
                        <span class="w-full text-center group-hover:text-primary mt-2 font-semibold">{{category.parentName}}</span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>