<ng-container *ngIf="category && (stores.length > 0 || products.length > 0); else noStoreProductAvailable">
    <div class="flex flex-col items-center bg-card w-full h-full">
        <!-- Header -->
        <div class="w-full relative flex p-2 sm:p-4 overflow-hidden bg-white h-52 sm:h-70 lg:h-100 justify-center items-center">
            <!-- Background -->
            <div class="absolute inset-0 pointer-events-none">
                <img class="object-cover w-full h-full"  [src]="category.parentThumbnailUrl ? category.parentThumbnailUrl : platform.logo" alt="">
            </div>
            <!-- Black filter  -->
            <div class="absolute inset-0 pointer-events-none bg-black opacity-70"></div>
            <!-- Back button  -->
            <div class="absolute top-0 left-0 text-white cursor-pointer p-4 flex flex-row gap-x-1" (click)="backClicked()">
                <mat-icon
                    class="icon-size-5 text-white"
                    [svgIcon]="'heroicons_outline:chevron-left'"></mat-icon>
                <span class="pr-2">Back</span>
            </div>
            <!-- Text  -->
            <div class="z-10 relative flex flex-col items-center tracking-wide">
                <h2 class="text-xl text-white sm:text-2xl">{{category ? category.parentName : 'Category'}}</h2>
                <h2 *ngIf="location" class="text-lg text-white sm:text-xl">{{location.cityDetails.name}}</h2>
                <div class="border-t w-40 border-white"></div>
                <div class="max-w-2xl mt-2 sm:text-xl text-center text-secondary text-white">
                    <span>
                        {{ storesPagination && storesPagination.length > 0 ? (storesPagination.length === 1 ? storesPagination.length + ' store' : storesPagination.length + ' stores') : '' }} 
                    </span>
                    <span >
                        {{ storesPagination && storesPagination.length > 0 && productsPagination && productsPagination.length > 0 ? ',' : '' }}
                    </span>
                    <span>
                        {{ productsPagination && productsPagination.length > 0 ? (productsPagination.length === 1 ? productsPagination.length + ' product' : productsPagination.length + ' products') : '' }} 
                    </span>
                </div>
            </div>
        </div>
        <!-- Content  -->
        <div class="flex flex-col bg-card w-full px-2 sm:px-4 pb-4">
            <!-- Featured Locations -->
            <featured-locations class="w-full" [locations]="locations" [category]="category.parentId" [showViewAll]="locationsViewAll" [title]="'Locations'"></featured-locations>
            <!-- Featured Products -->
            <ng-container *ngIf="products && products.length">
                <featured-products class="w-full" [products]="products" [showViewAll]="productsViewAll" [redirectURL]="redirectUrl" [title]="'Products'"></featured-products>
                <!-- Pagination -->
                <!-- <ng-container *ngIf="featuredProductsPagination && featuredProductsPagination.length > featuredProductsPagination">
                    <div class="flex w-full mt-4 items-center justify-center">
                        <pagination 
                            [itemLength]="featuredProductsPagination.length" 
                            [initialPage]="featuredProductsPagination.page + 1"
                            [pageSize]="featuredProductsPagination.size"
                            (changePage)="onChangePage($event, 'product')"
                            #productsPaginator></pagination>
                    </div>
                </ng-container> -->
            </ng-container>
            <!-- Featured Stores -->
            <!-- <ng-container *ngIf="stores && stores.length"> -->
                <!-- <featured-stores class="w-full" [stores]="stores" [showViewAll]="true" [redirectURL]="redirectUrl" [title]="'Featured Stores'"></featured-stores> -->
                <!-- Featured Stores Pagination -->
                <!-- <ng-container *ngIf="featuredStoresPagination && featuredStoresPagination.length > featuredStorePageSize">
                    <div class="flex w-full mt-4 items-center justify-center">
                        <pagination 
                            [itemLength]="featuredStoresPagination.length" 
                            [initialPage]="featuredStoresPagination.page + 1"
                            [pageSize]="featuredStoresPagination.size"
                            (changePage)="onChangePage($event, 'store')"
                            #storesPaginator></pagination>
                    </div>
                </ng-container> -->
            <!-- </ng-container> -->

            <!-- Stores -->
            <ng-container *ngIf="stores && stores.length">
                <featured-stores class="w-full" [stores]="stores" [showViewAll]="storesViewAll" [redirectURL]="redirectUrl" [title]="'Stores'"></featured-stores>
                <!-- Stores Pagination -->
                <!-- <ng-container *ngIf="featuredStoresPagination && featuredStoresPagination.length > featuredStorePageSize">
                    <div class="flex w-full mt-4 items-center justify-center">
                        <pagination 
                            [itemLength]="featuredStoresPagination.length" 
                            [initialPage]="featuredStoresPagination.page + 1"
                            [pageSize]="featuredStoresPagination.size"
                            (changePage)="onChangePage($event, 'store')"
                            #storesPaginator></pagination>
                    </div>
                </ng-container> -->
            </ng-container>
        </div>
    </div>
</ng-container>
<ng-template #noStoreProductAvailable>
    <ng-container *ngIf="isLoading; else noResult">
        <div class="flex flex-auto h-96 flex-col items-center justify-center rounded-lg border border-gray-300 dark:bg-transparent">
            <img class="w-20" src="assets/gif/loading.gif" alt="loading">
            <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">Loading Products</div>
        </div>
        <div class="mb-12"></div>
    </ng-container>
    <ng-template #noResult>
        <div class="relative flex justify-center items-center w-full h-full md:h-96">
            <error-background class="absolute z-0 inset-0 w-full opacity-50"></error-background>
            <div class="items-center justify-center z-10">
                <div class="mt-2 text-4xl md:text-6xl font-extrabold tracking-tight leading-tight md:leading-none text-center">Oops!</div>
                <div class="mt-2 text-4xl md:text-8xl font-semibold tracking-tight leading-tight md:leading-none text-primary text-center">404</div>
                <div class="mt-2 text-4xl md:text-5xl font-semibold tracking-tight leading-tight md:leading-none text-center">No available product</div>
                <div class="mt-4 max-w-120 text-lg md:text-xl font-medium tracking-tight text-center text-secondary">The product you are looking for might have been removed, had its name changed or is temporarily unavailable.</div>
                <!-- <a
                    class="flex flex-row items-center mt-12 font-medium bg-primary-500 py-2 px-4 rounded"
                    [routerLink]="['/catalogue/' + 'all-products']">
                    <mat-icon
                        class="icon-size-5 text-black"
                        [svgIcon]="'heroicons_outline:chevron-left'"></mat-icon>
                    <span class="pr-2">Go Back</span>
                </a> -->
            </div>
        </div>
    </ng-template>
</ng-template>