<!-- Order List -->
<div class="relative flex flex-col items-center bg-card w-full h-full">
    <!-- Main menu -->
    <div class="flex flex-col items-center w-full h-auto">
        <!-- categories -->
        <div class="w-full truncate z-10">
            <div class="flex flex-nowrap items-center justify-start sm:justify-around overflow-x-scroll sm:overflow-x-hidden">
                <ng-container *ngFor="let orderStatus of _orderCountSummary">
                    <div class="flex flex-wrap items-center p-1 text-center">
                        <input 
                            [id]="orderStatus.id + '-btn'"
                            [disabled]="openTab === orderStatus.id"
                            (click)="toggleTabs(orderStatus.id)"
                            type="button" 
                            class="w-0 h-0 invisible">
                        <label
                            class="p-1 sm:p-2 w-24 sm:w-26 rounded-full cursor-pointer"
                            [ngClass]="{'bg-gray-300 hover:bg-gray-400': openTab !== orderStatus.id, 'bg-primary font-bold cursor-auto': openTab === orderStatus.id}"
                            [for]="orderStatus.id + '-btn'"
                        >
                            <span class="text-sm sm:text-base text-black tracking-tight">{{orderStatus.label}}</span>
                        </label>
                    </div>
                </ng-container>
            </div>
        </div>

        <!-- Container -->
        <div class="flex flex-col justify-center mt-4 w-full">
            <!-- Order Details -->
            <div class="flex flex-col w-full">
                <!-- Orders -->
                <ng-container *ngIf="(ordersDetails$ | async) as ordersDetails">
                    <ng-container *ngIf="ordersDetails.length > 0; else noOrder">
                        <ng-container *ngFor="let orderDetails of ordersDetails">
                            <!-- Orders -->
                            <div class="w-full border border-gray-300 rounded-lg py-1 sm:py-2 px-2 sm:px-2 mb-4">
                                <div class="flex flex-col w-full">
                                    <!-- Header -->
                                    <div class="flex flex-row my-3 items-start justify-between w-full sm:px-2">
                                        <!-- Store Details -->
                                        <div class="flex flex-row">
                                            <mat-icon class="text-primary" svgIcon="mat_solid:storefront"></mat-icon>
                                            <div class="flex flex-col px-2">
                                                <h3 class="font-bold cursor-pointer" (click)="redirectToStore(orderDetails.store.domain)">{{orderDetails.store.name}}</h3>
                                                <h3 class="text-gray-400 text-xs">Order ID : {{orderDetails.invoiceId}}</h3>
                                                <h3 class="text-gray-400 text-xs">Order Placed : {{getOrderPlaced(orderDetails) | date:'MMM dd, h:mm a' }}</h3>
                                            </div>
                                        </div>
                                        <!-- Progress Status Icon -->
                                        <div class="flex flex-row items-center justify-center min-w-24 border border-primary p-1 sm:p-2 rounded">
                                            <!-- Progress Status Icon -->
                                            <mat-icon 
                                                [class]="displayStatus(orderDetails.completionStatus)?.class" 
                                                [svgIcon]="displayStatus(orderDetails.completionStatus)?.icon">
                                            </mat-icon>

                                            <!-- Progress Status -->
                                            <span 
                                                class="font-semibold text-sm items-center pl-2">{{displayStatus(orderDetails.completionStatus)?.label}}
                                            </span>
                                        </div>
                                    </div>

                                    <!-- Border -->
                                    <div class="border-t w-full"></div>
                                    
                                    <!-- Body -->
                                    <ng-container *ngFor="let orderItemDetail of orderDetails.orderItemWithDetails">
                                        <div 
                                            (click)="redirectToProduct(orderDetails.store.id, orderDetails.store.domain, orderItemDetail.productInventory.product.seoUrl)"  
                                            class="flex flex-row items-center justify-around w-full py-2 cursor-pointer group hover:bg-primary-50 sm:px-2 gap-2">
                                            <div class="relative flex flex-0 items-center justify-center w-13 h-13 mr-4 rounded overflow-hidden border">
                                                <img
                                                    class="w-full"
                                                    [alt]="'Product thumbnail image of ' + orderItemDetail.productName"
                                                    [src]=
                                                        "orderItemDetail.itemAssetDetails ? orderItemDetail.itemAssetDetails.url 
                                                        : orderItemDetail.productInventory.product.thumbnailUrl ? orderItemDetail.productInventory.product.thumbnailUrl 
                                                        : orderDetails.store.storeLogoUrl ? orderDetails.store.storeLogoUrl
                                                        : 'assets/branding/deliverin/logo/DeliverIN-Original.jpg'">
                                            </div>
                                            <div class="w-full md:pl-50">
                                                <h3 
                                                    class="font-semibold text-sm group-hover:text-primary line-clamp-3">
                                                    {{orderItemDetail.productName}}
                                                </h3>
                                                <h3 class="text-gray-400 text-sm group-hover:text-primary">{{orderItemDetail.productVariant}}</h3>
                                            </div>
                                            <div class="w-full flex flex-row justify-between max-w-26 sm:max-w-72">
                                                <h3 class="text-gray-400 items-center text-sm group-hover:text-primary">x{{orderItemDetail.quantity}}</h3>
                                                <!-- <h3 style="text-decoration: line-through;" class="font-bold">19.44</h3> -->
                                                <h3 class="font-bold text-primary text-sm">{{orderItemDetail.productPrice | currency: orderDetails.store.regionCountry.currencySymbol}}</h3>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <!-- Border -->
                                    <div class="border-b w-full"></div>
                                    
                                    <!-- Footer -->
                                    <div class="flex flex-row justify-between w-full py-2 sm:px-2">
                                        <!-- Order Details Button -->
                                        <div class="flex flex-row">
                                            <div class="w-24">
                                                <input
                                                    id="order-list-button"
                                                    type="button"
                                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                    mat-button
                                                    >
                                                <label 
                                                    [routerLink]="['/orders/details/' + orderDetails.id]"
                                                    class="flex items-center justify-center h-8 sm:h-10 px-1 sm:px-2 rounded-lg bg-primary hover:bg-primary-600 cursor-pointer"
                                                    for="add-to-cart-button"
                                                    matRipple>
                                                    <span class="text-sm font-semibold text-black tracking-tight">Order Details</span>
                                                </label>
                                            </div>
                                            <!-- <div class="w-20 pl-2">
                                                <input
                                                    id="order-list-button"
                                                    type="button"
                                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                    mat-button
                                                    >
                                                <label 
                                                    (click)="viewDetails(orderDetails.id)"
                                                    class="flex items-center justify-center h-10 w-10 rounded-full bg-primary hover:border-primary-500 cursor-pointer"
                                                    for="add-to-cart-button"
                                                    matRipple>
                                                    <mat-icon class="text-black" svgIcon="mat_outline:receipt_long"></mat-icon>
                                                </label>
                                            </div> -->
                                        </div>
                                        <div class="flex flex-row w-40 justify-between items-center">
                                            <p class="items-center font-semibold text-gray-400 text-sm">Total Order :</p> 
                                            <h3 class="w-fulltext-lg font-semibold text-sm">{{orderDetails.total | currency: orderDetails.store.regionCountry.currencySymbol}}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>    
                </ng-container>

                <!-- No Products -->
                <ng-template #noOrder>
                    <div class="relative w-full h-100 sm:h-auto max-h-160">
                        <error-background class="w-full static opacity-40"></error-background>
                        <div class="absolute flex flex-col inset-0 justify-center items-center">
                            <div class="w-full flex flex-col items-center justify-center z-10">
                                <div class="mt-2 text-4xl md:text-5xl font-semibold tracking-tight leading-tight md:leading-none text-center">No Order Found !</div>
                                <div class="mt-4 max-w-120 text-lg md:text-xl font-medium tracking-tight text-center text-secondary">No order found, shop and place your first order with us.</div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="mb-12"></div> -->
                </ng-template>

                <div class="flex w-full mt-4 items-center justify-center">
                    <pagination 
                        *ngIf="pagination && pagination.length > pagination.size"
                        [itemLength]="pagination.length" 
                        [initialPage]="pagination.page + 1"
                        [pageSize]="pagination.size"
                        (changePage)="onChangePage($event)"></pagination>
                </div>
            </div>
        </div>
        
    </div>
</div>