<div class="flex flex-col max-w-120 md:min-w-160 overflow-y-auto">
    <div class="flex flex-col flex-auto p-2 overflow-y-auto">
        <!-- Header new adrdress -->
        <div class="flex items-center justify-center flex-auto p-2 min-w-0">
            <span class="text-center text-2xl font-bold text-primary">Delivery Address</span> <br>
        </div>
        <form 
        [formGroup]="addressForm"
        >
            <div class="grid sm:grid-cols-4 gap-6 w-full">
    
                <!-- Name -->
                <div class="sm:col-span-2">
                    <mat-form-field class="fuse-mat-emphasized-affix w-full">
                        <mat-label>Name</mat-label>
                        <input
                            [formControlName]="'name'"
                            matInput>
                    </mat-form-field>
                </div>
    
                <!-- Name -->
                <div class="sm:col-span-2">
                    <mat-form-field class="fuse-mat-emphasized-affix w-full">
                        <mat-label>Phone Number</mat-label>
                        <input
                            [formControlName]="'phoneNumber'"
                            matInput>
                    </mat-form-field>
                </div>
                <!-- Email -->
                <div class="sm:col-span-2">
                    <mat-form-field class="fuse-mat-emphasized-affix w-full">
                        <mat-label>Email</mat-label>
                        <input
                            [formControlName]="'email'"
                            matInput>
                    </mat-form-field>
                </div>
 
                <!-- City -->
                <div class="sm:col-span-2">
                    <mat-form-field class="fuse-mat-emphasized-affix w-full">
                        <mat-label>City</mat-label>
                        <input
                            [formControlName]="'city'"
                            matInput>
                    </mat-form-field>
                </div>
    
                <!-- Postcode -->
                <div class="sm:col-span-2">
                    <mat-form-field class="fuse-mat-emphasized-affix w-full">
                        <mat-label>Postcode</mat-label>
                        <input
                            [formControlName]="'postCode'"
                            matInput>
                    </mat-form-field>
                </div>
    
                <!-- State -->
                <!-- <div class="sm:col-span-4">
                    <mat-form-field class="fuse-mat-emphasized-affix w-full">
                        <mat-label>State</mat-label>
                        <input
                            [formControlName]="'state'"
                            matInput>
                    </mat-form-field>
                </div> -->
    
                <!-- State -->
                <div class="sm:col-span-2">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>State</mat-label>
                        <mat-select 
                            [formControlName]="'state'"
                            [required]="true"
                            [placeholder]="'Select State'"
                            #stateSelector="matSelect">
                            <mat-select-trigger>
                                <span class="flex items-center">
                                    <span>{{ stateSelector.triggerValue }}</span>
                                </span>
                            </mat-select-trigger>
                            <div *ngFor="let state of storeStates">
                                <mat-option [value]="state.id">{{state.name}}</mat-option>
                            </div>
                        </mat-select>
                        <mat-error *ngIf="addressForm.get('state').hasError('required')">
                            Required
                        </mat-error>
                    </mat-form-field>
                </div>
                
                <!-- Country -->
                <!-- <div class="sm:col-span-2">
                    <mat-form-field class="fuse-mat-emphasized-affix w-full">
                        <mat-label>Country</mat-label>
                        <input
                            [formControlName]="'country'"
                            readonly
                            matInput>
                    </mat-form-field>
                </div> -->
    
                <!-- Set as default -->
                <!-- <div>
                    <mat-slide-toggle
                        [formControlName]="'isDefault'"
                        [color]="'primary'"
                        class="pr-2"
                    >Set as Default
                    </mat-slide-toggle>
                </div> -->
    
                <div  class="sm:col-span-2" *ngIf ="data === 'create'; else editdata">
                    <mat-slide-toggle
                    [formControlName]="'isDefault'"
                    [color]="'primary'"
                    class="pr-2"
                    >Set as Default
                    </mat-slide-toggle>
                </div>
    
                <ng-template #editdata>
                    <div  class="sm:col-span-2" *ngIf ="displayToogleNotDefault">
                        <mat-slide-toggle
                        [formControlName]="'isDefault'"
                        [color]="'primary'"
                        class="pr-2"
                        >Set as Default
                        </mat-slide-toggle>
                    </div>
                </ng-template>
    
            </div>
        </form>
        <div class="flex flex-col">
            <!-- Actions -->
            <div class="flex items-center justify-between py-4">
                <button
                    class="hover:bg-gray-500 border border-gray-500 ml-4 "
                    mat-flat-button
                    type="button"
                    [color]="'gray'"
                    (click)="closeDialog()"
                    >
                    Cancel
                </button>
                <button
                    class="ml-4"
                    mat-flat-button
                    type="button"
                    (click)="updateAddress()"
                    [color]="'primary'">Save
                </button>
            </div>
        </div>
    </div>
</div>